@font-face {
  font-family: 'Ghanu';
  src: url('/fonts/Ghanu.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes flipY {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.perspective-800 {
  perspective: 800px;
}
/* .react-datepicker-wrapper
{
  width: 300px;
}
@media only screen and (max-width: 768px)
{
.react-datepicker-wrapper
{
  width: 530px;
}
}
@media only screen and (max-width: 1020px)
{
.react-datepicker-wrapper
{
  width: 290px;
}
} */
